@import '_fonts.scss';
body {
    position: relative;
}
#wrapper {
    background-color: rgb(0,0,0);
}
#home {
    z-index: 10;
    position: absolute;
    margin: 0 auto;
    top: 0;
    width: 100%;
    display:block;
    transition: top 0.3s;
    background-color: #000;
}
.container_fluid {
    margin: 0 auto;
    max-width: 75%;
}
#navbar {
    display: flex;
    margin:  auto;
    padding-top: 32px;
    padding-bottom: 23px;
}
.navbar-brand {
    flex: 0 1 277px;
    align-items: center;
}

/*-----section header-----*/
.navbar-toggler {
    display: none;
}
.time-job {
    flex: 0 1 23%;
    font-size: 12px;
    list-style: none;
    color: rgb(230, 54, 44);
    background: url('../img/phone.png') no-repeat left 14px;
    margin-left: 63px;
    p {
        color:#e6362c;
        font-family: 'Segoe UI';
        margin: 0;
        padding-left: 40px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        line-height: 1.8;
    }
    a {
        font-family: 'Segoe UI';
        font-size: 1.6em;
        font-weight: bold;
        line-height: 1.2;

        text-decoration: none;
        letter-spacing: 1.8px;
        color: rgb(255, 255, 255);
        &:hover {
            transition: all .5s;

            color: rgb(230, 54, 44);
        }
        &:hover .fa-angle-down {
            transition: all .5s;

            color: rgb(230, 54, 44);
        }
    }
    .fa-angle-down {
        color: #fff;
    }
}
.navbarNav {
    flex: 0 1 60%;
    align-self: center;
}

.fa-angle-down {
    padding-left: 3px;
    font-size: 16px;
    color: rgba(255, 255, 255, .5);
    &:hover {
        transition: all .5s;

        color: rgb(230, 54, 44);
    }
}
.dropdown {
    flex: 0 0 auto;
    align-self: center;
    margin-left: 10px;
    padding-bottom: 5px;
    a {
        text-decoration: none;
        p {
            display: inline-block;
            font-size: 19px;
            margin: 0;
            font-family: 'ClearSans';
            color: rgba(255, 255, 255, .5);
            text-transform: uppercase;
        }
        &:hover p {
            transition: all .5s;
            color: rgb(230, 54, 44);
        }
        &:hover .fa-angle-down {
            transition: all .5s;
            color: rgb(230, 54, 44);
        }
    }
    img {
        margin-left: -10px;
        padding: 0 5px 0;
    }
    &:hover .dropdown_btn1 {
        display: block;
    }
}

.content-flag {
    min-width: 80px;
    margin-top: 5px;
    padding: 20px 10px;
    li {
        padding: 0;
    }
    a.flag {
        display: flex;

        justify-content: space-between;
        align-items: center;
    }
    p {
        font-family: 'ClearSans';
        font-size: 14px;
        line-height: 1.2;

        margin: 5px 0;
        padding-right: 5px;

        text-transform: uppercase;

        color: rgb(0, 0, 0);
    }
    img {
        display: block;

        padding: 0 !important;
    }
}
.navbar-nav {
    display: flex;
    padding: 0;
    margin-left: 25px;
    list-style: none;
    justify-content: space-between;

    li {
        a {
            font-family: 'ClearSans';
            font-size: 18px;
            line-height: 1.2;
            text-decoration: none;
            text-transform: uppercase;

            color: rgba(255, 255, 255, .5);
            &:hover {
                transition: all .5s;

                color: rgb(230, 54, 44);
            }
            &:hover .fa-angle-down {
                transition: all .5s;

                color: rgb(230, 54, 44);
            }
        }
    }
    .fa-search {
        color: rgba(255, 255, 255, .5);
        &:hover {
            transition: all .5s;

            color: rgb(230, 54, 44);
        }
    }
    .dropdown_items {
        span {
            font-family: 'ClearSans';
            font-size: 14px;
            line-height: 1.2;

            text-transform: none;

            color: rgb(0, 0, 0);
            &:hover {
                transition: all .5s;

                color: rgb(230, 54, 44);
            }
        }
    }
    .dropdown {
        &:hover .dropdown-btn1 {
            position: fixed;
            top: 80px;
            right: 0;
            left: 0;

            display: none;

            min-width: 100vh;

            transition: all .5s;
            text-align: center;
            li {
                display: inline-block;

                padding: 20px 18px;
            }
            &::after {
                position: absolute;
                bottom: 100%;
                left: 68%;

                content: '';

                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
            }
        }
        &:hover .dropdown-btn2 {
            @extend .dropdown-btn1;
            &::after {
                position: absolute;
                bottom: 100%;
                left: 77%;

                margin-left: -5px;

                content: '';

                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
            }
        }
    }
    .dropdown {
        &:hover .dropdown-btn1 {
            display: block;
        }
    }
}
.btn {
    font-family: 'Segoe UI';
    font-size: 11.663px;

    display: block;

    width: 131px;
    height: 33px;
    margin: 25px auto 0;
    padding: 8px 0;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #e6362c;
    &:hover {
        width: 131px;

        text-align: center;
        text-decoration: none;

        background-color: rgba(230, 54, 44, .9);
        box-shadow: 0 2px 4.75px .25px rgba(0, 0, 0, .25);
    }
}
.dropdown {
    position: relative;

    list-style: none;

    cursor: pointer;
    &:hover .dropdown-content {
        display: block;

        top: 80%;
        left: 35%;
        transition: all .5s;
    }
}
.dropdown-content {
    position: absolute;
    z-index: 1;
    display: none;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    a.flag {
        &:hover p {
            color: rgba(230, 54, 44, .9);
        }
        p {
            color: #000;
            padding: 5px 0;
        }
        &::after {
            position: absolute;
            bottom: 100%;
            left: 35%;

            margin-left: -5px;

            content: '';

            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
        }
    }
}
/*----------- Main Slaider ----------*/
.banner-area {
    width: 100%;
    .slick-list {
        padding: 0;
    }
    .single-banner {
        position: relative;

        width: 100%;
        height: 100vh;
        .banner-img {
            overflow: hidden;

            width: 100%;
            height: auto;
            img {
                width: 100%;
            }
        }
        .banner-text {
            position: absolute;
            top: 36.5%;
            left: 54.7%;

            max-width: 28%;

            text-align: left;
            h3 {
                font-family: 'Segoe UI';
                font-size: 37px;

                margin: 0;
                line-height: 1;
                letter-spacing: 2px;
                text-transform: uppercase;

                color: rgb(255, 255, 255);
            }
            h1 {
                font-family: 'Segoe UI';
                font-size: 68px;
                line-height: 1.1;

                margin: 0 0 28px;

                letter-spacing: 4px;
                text-transform: capitalize;

                color: rgb(255, 255, 255);
            }
            p {
                font-family: 'Segoe UI';
                font-size: 19px;
                font-style: normal;
                line-height: 1.6;
                letter-spacing: normal;
                color: #ffffff;
            }
            .btn {
                font-size: 18px;

                width: 173px;
                height: 42px;
                margin: 40px 0 0;
            }
            &:last-child {
                color: red;
            }
        }
    }
}
.slick-dots {
    bottom: -35px;;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: red;
}
.slick-dots li button:before {
    font-size: 14px;

    color: #e1e1e1;
}

.container {
    display: flex;

    max-width: 67%;
    margin: 0 auto;
    padding-top: 30px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.thumbnail {
    position: relative;
    width: 23%;
    padding: 0 6px;;
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    text-align: center;
    h3 {
        font-family: 'Segoe UI';
        font-size: 24px;
        line-height: 2.4;

        margin: 0;

        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;

        color: rgb(255, 255, 255);
    }
    span {
        display: block;

        width: 80px;
        height: 80px;
        margin: 0 auto;
        padding-top: 12px;
    }
    &:first-child span {
        padding-top: 0;
    }
    p {
        font-family: 'Segoe UI';
        font-size: 19px;
        padding: 0 20px;
        margin: 0;
        text-align: center;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.68;
        letter-spacing: normal;
        color: rgb(255, 255, 255);
    }
}
hr {
    max-width: 68%;
    height: 1px;

    background-color: #4d4d4d;
}

/*---- section services   ----*/
#services {
    .thumbnail {
        max-width: span(3);
        padding-bottom: 60px;
    }
}

/*---- section product  ----*/
h2 {
    font-family: 'Segoe UI';
    font-size: 34px;
    font-weight: bold;
    line-height: 1.7;

    padding-top: 35px;

    letter-spacing: 6px;
    text-transform: uppercase;

    color: rgb(255, 255, 255);
}
#product {
    text-align: center;
    p {
        font-family: 'Segoe UI';
        line-height: 2;
        width: 932px;
        margin: 0 auto 30px;
        font-size: 19px;
        line-height: 1.78;
        letter-spacing: normal;
        color: #ffffff;
    }
    .wrapper-product {
        width: 100%;
        height: 650px;

        background: url('../img/background-product.jpg') no-repeat;
        background-size: 100% 100%;
        .wrap {
            height: 650px;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
    .container_fluid {
        display: flex;
        max-width: 77%;
        margin: 43px auto 75px;
        flex-wrap: wrap;
        justify-content: space-between;
        .thumbnail {

            img {
                transition: .5s ease;
                opacity: 1;
            }
            .text {
                position: absolute;
                top: 40%;
                right: 0;
                left: 0;

                text-align: center;
                h3 {
                    font-family: 'Segoe UI';
                    font-size: 23px;
                    line-height: 1.8;

                    margin: 0;
                    padding: 0 64px;

                    text-align: center;
                    letter-spacing: 5px;
                    text-transform: uppercase;

                    color: rgb(255, 255, 255);
                }
            }
            .text-main {
                transition: .5s ease;

                opacity: 1;
            }
            &:hover .text-main {
                opacity: 0;
            }
            .overlay {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 100%;

                cursor: pointer;
                transition: .5s ease;

                opacity: 0;
                background-color: transparent;
                .thumbnail {
                    width: 100%;
                    height: 100%;
                    img {
                        display: block;
                        width: 60px;
                        height: 60px;
                        margin: 60px auto 0;
                    }
                    h4 {
                        font-family: 'Segoe UI';
                        font-size: 18px;
                        line-height: 3;

                        margin: 25px 0 5px;

                        letter-spacing: 2px;
                        text-transform: uppercase;

                        color: rgb(230, 230, 230);
                    }
                    p {
                        font-family: 'Segoe UI';
                        font-size: 14px;
                        line-height: 1.8;

                        width: 100%;

                        text-align: center;
                        letter-spacing: .8px;

                        color: rgb(255, 255, 255);
                    }
                    .btn {
                        margin: 0 auto;
                    }
                }
            }
            &:hover img {
                opacity: .5;
            }
            &:hover .overlay {
                opacity: 1;
            }
        }
    }
}

/*---- section brands  ----*/
#brands {
    width: 100%;

    text-align: center;
    .container_fluid {
        margin-bottom: 20px;
    }
    h2 {
        margin: 0;
    }
    .slide {
        overflow: hidden;

        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-left: 47px;
        &:first-child img {
            height: 60px;
            padding-top: 20px;
        }
        &.slide-1 {
            img {
                height: 60px;
                padding-top: 20px;
            }
        }
    }
    .slide-3 {
        &:hover {
            img {
                opacity: 0;
            }
            background: url("../img/KG_electronik-hover.png") no-repeat;
            background-position: 47px 0;
        }
    }
}
.slick-arrow.left {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 98%;
    cursor: pointer;
    height: 20px;
}

.slick-arrow.right {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 98%;
    cursor: pointer;
    height: 20px;
}

/*----  section footer    ----*/
.center {
    width: span(6);
    margin: 0 auto;

    text-align: center;
    img {
        padding-top: 68px;
    }
    p {
        font-family: 'Segoe UI';
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 1.2px;
        margin: 0;
        padding-bottom: 66px;

        color: rgb(77, 77, 77);
    }
    .fab {
        font-size: 30px;
        color: #777;
        margin: 22px 5px;
    }
    .fa-facebook-square,
    .fa-youtube-square {
        transition: all 0.5s;
        &:hover {
            color: rgb(230, 54, 44);
        }
    }
}
#footer {
    .navbar-nav {
        display: flex;

        padding: 24px 40px 0;

        justify-content: space-between;
        li {
            padding: 0;
            a {
                font-family: 'Segoe UI';
                font-size: 14px;
                line-height: 1.2;

                text-transform: uppercase;

                color: rgb(77, 77, 77);
                &:hover {
                    transition: all .5s;

                    color: rgb(230, 54, 44);
                }
            }
        }
    }
    #btn-scrol {
        display: none;
        position: fixed;
        z-index: 8;
        right: 9%;
        bottom: 6%;
        a {
            font-size: 24px;

            display: block;

            width: 43px;
            height: 43px;
            padding-top: 10px;

            transition-duration: 3s;
            transition-property: color;
            text-align: center;

            color: rgba(77, 77, 77, .9);
            border-radius: 5px;
            background-color: rgb(230, 54, 44);
            box-shadow: 0 2px 4.75px .25px rgba(0, 0, 0, .25);
        }
    }
}

@media(min-width: 0) and (max-width: 320px) {

    .navbar-toggler {
        font-size: 25px;

        position: absolute;

        top: 35%;
        right: 5%;

        display: block;

        color: rgb(255, 255, 255);
        border: none;
        background-color: transparent;
    }
    .container_fluid {
        max-width: 90%;
    }
    .navbar-brand {
        flex: 0 1 150px;
        img {
            width: 150px;
        }
    }
    .time-job {
        display: none;
    }
    .dropdown {
        flex: 0 0 auto;
        margin-left: 35px;
        a p {
            font-size: 12px;
        }
        &:hover .dropdown-content {
            left: 15%;
        }
    }
    .fa-angle-down {
        font-size: 12px;
    }
    .banner-area .single-banner {
        height: 420px;
        padding-top: 50px;
        .banner-img {
            img {
                height: 525px;
            }
        }
        .banner-text {
            top: 35%;
            max-width: 42%;
            h3 {
                font-size: 17px;
                line-height: 1.8;
                letter-spacing: 0;;
            }
            h1 {
                font-size: 22px;
                letter-spacing: 0.8px;
            }
            p {
                font-size: 11px;
                line-height: 1.1;
            }
            .btn {
                width: 110px;
                height: 26px;
                font-size: 11px;
                margin-top: 20px;
                padding-top: 6px;
            }
        }
    }
    .collapse {
        display: none;
    }

    #navbar .navbar-nav {
        position: fixed;
        top: 6%;
        right: 5px;
        padding: 5px 0 0 10px;
        display: flex;
        overflow-x: visible;
        flex-direction: column;
        z-index: 10;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        background-color: rgb(0,0,0);
        width: 160px;
        li {
            padding: 5px 0 0;
            a {
                color: #ffffff;
                .fa-angle-down {
                    color: #ffffff;
                }
            }
            .fa-search {
                color: #ffffff;
            }
        }
        .dropdown {
            margin-left: 0;
            &:hover .dropdown-btn1 {
                position: absolute;
                top: -180%;
                left: -160px;
                right: 260px;
                padding-left: 0;
                text-align: center;
                min-width: 150px;
                height: 120px;
                li {
                    padding: 5px 10px;
                    margin-right: 10px;
                }
                &::after {
                    position: absolute;
                    bottom: 45%;
                    left: 100%;
                    content: '';

                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent transparent #fff ;
                }
            }
            &:hover .dropdown-btn2 {
                position: absolute;
                top: -165%;
                left: -160px;
                right: 260px;
                padding-left: 0;
                text-align: center;
                min-width: 150px;
                height: 120px;
                li {
                    padding: 5px 10px;
                    margin-right: 10px;
                }
                &::after {
                    position: absolute;
                    bottom: 50%;
                    left: 100%;
                    content: '';
                    margin-left: 0px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent transparent #fff;
                }
            }
        }
    }
    #services{
        .container {
            max-width: 84%;
            padding-top: 75px;
        }
        .thumbnail {
            min-width: span(6);
            h3 {
                font-size: 19px;
                margin-top: 15px;
            }
            p {
                font-size: 16px;
                padding: 0;
                line-height: 1.2;
            }
        }
    }
    #product {
        h2 {
            font-size: 28px;
        }
        .wrapper-product {
            height: 100%;
            .wrap {
                height: 100%;
            }
        }
        p {
            font-size: 15px;
            width: 75%;
        }
        .container_fluid {
            max-width: 90%;
            .thumbnail {
                width: 75%;
                padding-bottom: 10px;
                justify-content: space-around;
                .text {
                    h3 {
                        padding: 0 10px;
                        font-size: 21px;
                        letter-spacing: 1px;
                        line-height: 1.2;
                    }
                }
                .overlay {
                    .thumbnail {
                        img {
                            margin-top: 15px;
                            width: 35px;
                            height: 35px;
                        }
                        h4 {
                            margin-top: 20px;
                            line-height: 1;
                            font-size: 14px;
                            letter-spacing: 1.4px;
                        }
                        p {
                            line-height: 1.2;
                            font-size: 12px;
                            margin-bottom: 20px;
                        }
                        .btn {
                            margin: 0 auto 20px;
                            width: 100px;
                            height: 28px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    #brands {
        h2 {
            font-size: 22px;
        }
        .container_fluid {
            max-width: 84%;
            height: 140px;
        }
        .brand {
            position: relative;
            max-width: 84%;
            margin: 0 auto;
            padding-top: 40px;
            .slick-list {
                padding: 0;
            }
            .slide {
                &.slide-1 img {
                    height: 40px;
                    width: 60%;
                    padding-top: 0;
                }
            }
            .slide-3 {
                &:hover {
                    img {
                        opacity: 0;
                    }
                    background: url("../img/KG_electronik-hover.png") no-repeat;
                    background-position: 73% 0;
                    background-size: 120px 43px;
                }
            }
            .slick-slide {
                img {
                    width: 120px;
                }
            }
        }
    }
    #footer {
        .navbar-nav {
            display: flex;
            padding: 24px 0 0;
            justify-content: center;
            flex-wrap: wrap;
            li {
                padding: 0 5px;
                a {
                    font-size: 12px;
                }
            }
        }
        .center {
            width: 90%;
        }
        #btn-scrol {
            bottom: 1%;
            right: 5%;
        }
    }
}
@media(min-width: 321px) and (max-width: 480px) {
    .navbar-toggler {
        font-size: 25px;

        position: absolute;

        top: 35%;
        right: 5%;

        display: block;

        color: rgb(255, 255, 255);
        border: none;
        background-color: transparent;
    }
    .container_fluid {
        max-width: 90%;
    }
    .navbar-brand {
        flex: 0 1 150px;
        img {
            width: 150px;
        }
    }
    .time-job {
        display: none;
    }
    .dropdown {
        flex: 0 0 auto;
        margin-left: 35px;
        a p {
            font-size: 12px;
        }
        &:hover .dropdown-content {
            left: 15%;
        }
    }
    .fa-angle-down {
        font-size: 12px;
    }
    .banner-area .single-banner {
        height: 420px;
        padding-top: 50px;
        .banner-img {
            img {
                height: 525px;
            }
        }
        .banner-text {
            top: 35%;
            max-width: 42%;
            h3 {
                font-size: 17px;
                line-height: 1.8;
                letter-spacing: 0;;
            }
            h1 {
                font-size: 22px;
                letter-spacing: 0.8px;
            }
            p {
                font-size: 11px;
                line-height: 1.1;
            }
            .btn {
                width: 110px;
                height: 26px;
                font-size: 11px;
                margin-top: 20px;
                padding-top: 6px;
            }
        }
    }
    .collapse {
        display: none;
    }

    #navbar .navbar-nav {
        position: fixed;
        top: 6%;
        right: 5px;
        padding: 5px 0 0 10px;
        display: flex;
        overflow-x: visible;
        flex-direction: column;
        z-index: 10;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        background-color: rgb(0,0,0);
        width: 160px;
        li {
            padding: 5px 0 0;
            a {
                color: #ffffff;
                .fa-angle-down {
                    color: #ffffff;
                }
            }
            .fa-search {
                color: #ffffff;
            }
        }
        .dropdown {
            margin-left: 0;
            &:hover .dropdown-btn1 {
                position: absolute;
                top: -180%;
                left: -160px;
                right: 260px;
                padding-left: 0;
                text-align: center;
                min-width: 150px;
                height: 120px;
                li {
                    padding: 5px 10px;
                    margin-right: 10px;
                }
                &::after {
                    position: absolute;
                    bottom: 45%;
                    left: 100%;
                    content: '';

                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent transparent #fff ;
                }
            }
            &:hover .dropdown-btn2 {
                position: absolute;
                top: -165%;
                left: -160px;
                right: 260px;
                padding-left: 0;
                text-align: center;
                min-width: 150px;
                height: 120px;
                li {
                    padding: 5px 10px;
                    margin-right: 10px;
                }
                &::after {
                    position: absolute;
                    bottom: 50%;
                    left: 100%;
                    content: '';
                    margin-left: 0px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent transparent #fff;
                }
            }
        }
    }
    #services{
        .container {
            max-width: 84%;
            padding-top: 75px;
        }
        .thumbnail {
            min-width: span(6);
            h3 {
                font-size: 19px;
                margin-top: 15px;
            }
            p {
                font-size: 16px;
                padding: 0;
                line-height: 1.2;
            }
        }
    }
    #product {
        h2 {
            font-size: 28px;
        }
        .wrapper-product {
            height: 100%;
            .wrap {
                height: 100%;
            }
        }
        p {
            font-size: 15px;
            width: 75%;
        }
        .container_fluid {
            max-width: 90%;
            .thumbnail {
                width: 75%;
                padding-bottom: 10px;
                justify-content: space-around;
                .text {
                    h3 {
                        padding: 0 10px;
                        font-size: 21px;
                        letter-spacing: 1px;
                        line-height: 1.2;
                    }
                }
                .overlay {
                    .thumbnail {
                        img {
                            margin-top: 15px;
                            width: 35px;
                            height: 35px;
                        }
                        h4 {
                            margin-top: 20px;
                            line-height: 1;
                            font-size: 14px;
                            letter-spacing: 1.4px;
                        }
                        p {
                            line-height: 1.2;
                            font-size: 12px;
                            margin-bottom: 20px;
                        }
                        .btn {
                            margin: 0 auto 20px;
                            width: 100px;
                            height: 28px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    #brands {
        h2 {
            font-size: 22px;
        }
        .container_fluid {
            max-width: 84%;
            height: 140px;
        }
        .brand {
            position: relative;
            max-width: 84%;
            margin: 0 auto;
            padding-top: 40px;
            .slick-list {
                padding: 0;
            }
            .slide {
                &.slide-1 img {
                    height: 40px;
                    width: 60%;
                    padding-top: 0;
                }
            }
            .slide-3 {
                &:hover {
                    img {
                        opacity: 0;
                    }
                    background: url("../img/KG_electronik-hover.png") no-repeat;
                    background-position: 27% 0;
                    background-size: 120px 43px;
                }
            }
            .slick-slide {
                img {
                    width: 120px;
                }
            }
        }
    }
    #footer {
        .navbar-nav {
            display: flex;
            padding: 24px 0 0;
            justify-content: center;
            flex-wrap: wrap;
            li {
                padding: 0 5px;
                a {
                    font-size: 12px;
                }
            }
        }
        .center {
            width: 90%;
        }
        #btn-scrol {
            bottom: 1%;
            right: 5%;
        }
    }
}
@media(min-width: 481px) and (max-width: 767px) {
    .navbar-toggler {
        font-size: 25px;

        position: absolute;
        top: 35%;
        right: 5%;

        display: block;

        color: rgb(255, 255, 255);
        border: none;
        background-color: transparent;
    }
    .container_fluid {
        max-width: 90%;
    }
    .navbar-brand {
        flex: 0 1 150px;
        img {
            width: 150px;
        }
    }
    .time-job {
        display: none;
    }
    .dropdown {
        flex: 0 0 auto;
        margin-left: 35px;
        a p {
            font-size: 12px;
        }
    }
    .fa-angle-down {
        font-size: 12px;
    }
    .banner-area .single-banner {
        height: 420px;
        padding-top: 50px;
        .banner-img {
            img {
                height: 525px;
            }
        }
        .banner-text {
            top: 35%;
            max-width: 42%;
            h3 {
                font-size: 19px;
                line-height: 1.8;
            }
            h1 {
                font-size: 32px;
                letter-spacing: 0.8px;
            }
            p {
                font-size: 12px;
                line-height: 1.2;
            }
            .btn {
                width: 120px;
                height: 30px;
                font-size: 12px;
                margin-top: 20px;
            }
        }
    }
    .collapse {
        display: none;
    }

    #navbar .navbar-nav {
        position: fixed;
        //top: 60%;
        //margin-left: 0;
        right: 5px;
        padding: 5px 0 0 10px;
        display: flex;
        overflow-x: visible;
        flex-direction: column;
        z-index: 10;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        background-color: rgb(0,0,0);
        width: 200px;
        align-items: center;
        li {
            padding: 5px 0 0;
            a {
                color: #ffffff;
                .fa-angle-down {
                    color: #ffffff;
                }
            }
            .fa-search {
                color: #ffffff;
            }
        }
        .dropdown {
            margin-left: 0;
            &:hover .dropdown-btn1 {
                position: absolute;
                top: -150%;
                left: -210px;
                right: 130px;
                padding-left: 0;
                text-align: center;
                min-width: 200px;
                height: 100px;
                li {
                    padding: 5px 10px;
                    margin-right: 10px;
                }
                &::after {
                    position: absolute;
                    bottom: 45%;
                    left: 100%;
                    content: '';

                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent transparent #fff ;
                }
            }
            &:hover .dropdown-btn2 {
                position: absolute;
                top: -135%;
                left: -210px;
                right: 130px;
                padding-left: 0;
                text-align: center;
                min-width: 200px;
                height: 100px;
                li {
                    padding: 5px 10px;
                    margin-right: 10px;
                }
                &::after {
                    position: absolute;
                    bottom: 50%;
                    left: 100%;
                    content: '';
                    margin-left: 0px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent transparent #fff;
                }
            }
        }
    }
    #services{
        .container {
            max-width: 84%;
            padding-top: 75px;
        }
        .thumbnail {
            min-width: span(4);
            h3 {
                font-size: 19px;
                margin-top: 15px;
            }
            p {
                font-size: 16px;
                padding: 0;
                line-height: 1.2;
            }
        }
    }
    #product {
        h2 {
            font-size: 28px;
        }
        .wrapper-product {
            height: 100%;
            .wrap {
                height: 100%;
            }
        }
        p {
            font-size: 15px;
            width: 75%;
        }
        .container_fluid {
            max-width: 84%;
            .thumbnail {
                width: 48%;
                padding-bottom: 10px;
                justify-content: space-around;
                .text {
                    h3 {
                        padding: 0 10px;
                        font-size: 21px;
                        letter-spacing: 1px;
                        line-height: 1.2;
                    }
                }
                .overlay {
                    .thumbnail {
                        img {
                            margin-top: 15px;
                            width: 35px;
                            height: 35px;
                        }
                        h4 {
                            margin-top: 20px;
                            line-height: 1;
                            font-size: 14px;
                            letter-spacing: 1.4px;
                        }
                        p {
                            line-height: 1.2;
                            font-size: 12px;
                            margin-bottom: 20px;
                        }
                        .btn {
                            margin: 0 auto 20px;
                            width: 100px;
                            height: 28px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    #brands {
        h2 {
            font-size: 28px;
        }
        .container_fluid {
            max-width: 83%;
            height: 140px;
        }
        .brand {
            padding-top: 40px;
            .slide {
                img {
                    display: inline;
                }
                &.slide-1 img {
                    height: 40px;
                    width: 60%;
                    padding-top: 0;
                }
            }
            .slide-3 {
                &:hover {
                    img {
                        opacity: 0;
                    }
                    background: url("../img/KG_electronik-hover.png") no-repeat;
                    background-position: 60% 0;
                    background-size: 224px 83px;
                }
            }
            .slick-list {
                padding: 0 47px;
            }
        }
    }
    #footer {
        .navbar-nav {
            display: flex;
            padding: 24px 0 0;
            justify-content: center;
            flex-wrap: wrap;
            li {
                padding: 0 5px;
                a {
                    font-size: 12px;
                }
            }
        }
        .center {
            width: 80%;
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .navbar-toggler {
        font-size: 25px;

        position: absolute;
        top: 25%;
        right: 10%;

        display: block;

        color: #fff;
        border: none;
        background-color: transparent;
    }
    .container_fluid {
       max-width: 90%;
    }
    .navbar-brand {
        flex: 0 1 220px;
    }
    .time-job {
        margin-left: 0;
        flex: 0 1 35%;
        font-size: 11px;
        p {
            font-size: 10px;
        }
    }
    .dropdown {
        flex: 0 0 auto;
        a p {
            font-size: 14px;
        }
    }
    .collapse {
        display: none;
    }
    #navbar {
        padding: 20px 0;
        .navbarNav {
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            max-width: 90%;
            margin: 0 auto;
        }
        .navbar-nav {
            display: flex;
            overflow-x: visible;
            justify-content: space-between;
            //box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
            li {
                a {
                    font-size: 14px;
                }
            }
            .dropdown {
                &:hover .dropdown-btn1 {
                top: 130px;
                    &::after {
                        left: 47%;
                    }
                }
                &:hover .dropdown-btn2 {
                    top: 130px;
                    &::after {
                        left: 65%;
                    }
                }
            }
        }
    }
    .navbar-brand {
        img {
            width: 200px;
        }
    }
    .banner-area .single-banner {
        height: 500px;
        .banner-img {
            img {
                height: 700px;
            }
        }
        .banner-text{
            top:30%;
            h3 {
                font-size: 26px;
            }
            h1 {
                font-size: 44px;
                margin-bottom: 15px;
            }
            p {
                font-size: 14px;
            }
            .btn {
                font-size: 14px;
                margin-top: 15px;
                height: 33px;
                width: 135px;
            }
        }
    }
    .container {
        max-width: 94%;
        padding-top: 50px;
        span {
            img {
                width: 56px;
                height: 60px;
            }
        }
        &:first-child span {
            width: 56px;
            padding-top: 20px;
            align-self: center;
        }
        h3 {
            font-size: 21px;
            margin: 10px 0;
        }
        p {
            font-size: 16px;
            padding: 0;
        }
    }
    #product {
        h2 {
            font-size: 28px;
        }
        p {
            width: 80%;
            font-size: 15px;
        }
        .wrapper-product {
            height: 100%;
            .wrap {
                height: 100%;
            }
        }
        .container_fluid {
            .thumbnail {
                width: 48%;
                padding-bottom: 10px;
                justify-content: space-around;
                .text {
                    h3 {
                        padding: 0 25px;
                    }
                }
                .overlay {
                    .thumbnail {
                        img {
                            margin-top: 35px;
                        }
                        h4 {
                            margin-top: 20px;
                        }
                        p {
                            line-height: 1.4;
                            font-size: 14px;
                        }
                        .btn {
                            margin: 0 auto 20px;
                        }
                    }
                }
            }
        }
    }
    #brands {
        .container_fluid {
            max-width: 83%;
        }
        .slide {
            img {
                width: 94px;
                height: 60px;
            }
        }
        .slide-3 {
            &:hover {
                img {
                    opacity: 0;
                }
                background: url("../img/KG_electronik-hover.png") no-repeat;
                background-position: 47px 0;
                background-size: 94px 60px;
            }
        }
    }
    .brand {
        padding: 50px 0;
    }
    .slick-list{
        padding: 0;
    }
    .slick-slide {
        img {
            width: 104px;
            height: 60px;
        }
    }

    .center {
        width: 85%;
    }
}

@media(min-width: 992px) and (max-width: 1223px) {

    #home {
        height: 80px;
    }
    .container_fluid {
        max-width: 96%;
    }
    #navbar {
        padding-top: 20px;
    }
    .navbar-brand {
        flex: 0 1 250px;
    }
    .dropdown {
        flex: 0 0 auto;
        a {
            p {
                font-size: 12px;
            }
        }
    }
    .navbar-nav {
        .dropdown {
            &:hover .dropdown-btn1 {
                top: 65px;
                &::after {
                    left: 71%;
                }
            }
            &:hover .dropdown-btn2 {
                top: 65px;
                &::after {
                    left: 82%;
                }
            }
        }
    }
    .fa-angle-down {
        font-size: 9px;
    }
    .navbar-brand img {
        margin: 0;
        width: 200px;
    }
    .time-job {
        flex: 0 1 20%;
        margin: 0;
        font-size: 9px;
        background-position: 0 0;
        p {
            letter-spacing: normal;
            a {
                font-size: 14px;
                letter-spacing: 0.8px;
            }
        }
    }
    .navbar-nav {
        li {
            a {
                font-size: 12px;
            }
        }
    }
    .banner-area .single-banner {
        height: 580px;
        .banner-text {
            top: 20%;
            h3 {
                font-size: 22px;
            }
            h1 {
                font-size: 42px;
            }
            p {
                font-size: 14px;
            }
            .btn {
                width: 140px;
                height: 35px;
                font-size: 16px;
            }
        }
    }
    #services {
        .container {
            max-width: 85%;
        }
        .thumbnail {
            h3 {
                font-size: 20px;
                padding-top: 40px;
            }
            p {
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
    #product {
        .container_fluid {
            max-width: 84%;
            .thumbnail {
                max-width: 25%;
                padding: 0;
                img {
                    width: 100%;
                    height: 100%;
                }
                .text {
                    h3 {
                        font-size: 16px;
                        padding: 0 10px;
                        letter-spacing: 4px;
                    }
                }
                .overlay {
                    .thumbnail {
                        min-width: 100%;
                        height: 100%;
                        justify-content: space-around;
                        img {
                            margin-top: 15px;
                            width: 40px;
                            height: 40px;
                        }
                        h4 {
                            line-height: 1.4;
                            letter-spacing: 0;
                            font-size: 16px;
                            margin-top: 15px;

                        }
                        p {
                            padding: 0 10px;
                            font-size: 12px;
                            line-height: 1.2;
                            margin-bottom: 20px;
                        }
                        .btn {
                            width: 120px;
                            height: 30px;
                            font-size: 10px;
                            margin: 0 auto 10px;
                        }
                    }
                }
            }
        }
        p {
            font-size: 16px;
            padding: 0 50px;
        }
        .wrapper-product {
            height: 100%;
            .wrap {
                height: 100%;
            }
        }
    }
    #brands {
        .container_fluid {
            margin-bottom: 70px;
        }
        .slide {
            padding: 0 50px;
            img {
                width: 114px;
            }
        }
        .slide-3 {
            &:hover {
                img {
                    opacity: 0;
                }
                background: url("../img/KG_electronik-hover.png") no-repeat;
                background-position: 49px 0;
                background-size: 114px 42px;
            }
        }
    }
    .center {
        width: 75%;
    }
}

@media(min-width: 1224px) and (max-width: 1823px) {
    #home {
        height: 100px;
    }
    .fa-angle-down {
        font-size: 10px;
    }
    #navbar {
        padding-top: 30px;
    }
    .container_fluid {
        max-width: 86%;
    }
    .navbar-nav {
        li a {
            font-size: 12px;
        }
    }
    .navbar-brand {
        img {
            width: 200px;
            padding: 5px 0 0;
            margin: 0;
        }
    }
    .time-job {
        margin: 0;
        p {
            font-size: 12px;
            letter-spacing: 0;
            a {
                font-size: 14px;
                letter-spacing: 2.6px;
            }
        }
    }

    .dropdown {
        a {
            p {
                font-size: 12px;
                font-weight: normal;
            }
        }
    }

    .banner-area {
        .single-banner {
            height: 600px;
            .banner-text {
                top: 30%;
                h3 {
                    font-size: 26px;
                }
                h1{
                    font-size: 46px;
                }
                p {
                    font-size: 14px;
                }
                .btn {
                    font-size: 14px;
                    width: 150px;
                    height: 36px;
                }
            }
        }
    }

    .slick-dots li button:before {
        font-size: 10px;
    }
    .thumbnail {
        max-width: span(3);
        padding: 5px;
    }
    #services {
        .container {
            padding-top: 60px;
        }
        .thumbnail h3 {
            padding-top: 20px;
            font-size: 18px;
        }
        p {
            font-size: 14px;
            padding: 20px 0 0px;
            line-height: 1.6;
            letter-spacing: 1.2px;
        }
    }
    h2 {
        font-size: 28px;
    }
    #brands {
        .container_fluid {
            max-width: 75%;
            margin-bottom: 70px;
        }
        .slide {
            img {
                width: 150px;
            }
            &.slide-1 {
                img {
                    height: 60px;
                    max-width: 50%;
                    margin: 0 auto;
                }
            }
        }
        .slick-list {
            padding: 0;
        }
        .slide-3 {
            &:hover {
                background: url("../img/KG_electronik-hover.png") no-repeat;
                background-position: 46px 0px;
                background-size: 150px 55px;
                padding-left: 30px;
                img {
                    opacity: 0;
                }
            }
        }
        h2 {
            padding: 60px 0;
        }
    }
    #product {
        .container_fluid {
            .thumbnail {
                img {
                    width: 250px;
                    height: 320px;
                }
            }
        }
        .wrapper-product,
        .wrap {
            height: 555px;
        }
        p {
            font-size: 16px;
        }
        .container_fluid {
            max-width: 86%;
            .thumbnail {
                .text h3 {
                    padding: 0 24px;;
                    font-size: 18px;
                }
                .overlay {
                    .thumbnail {
                        min-width: 100%;
                        height: 100%;
                        img {
                            display: block;
                            width: 60px;
                            height: 60px;
                            margin: 10% auto 5%;
                        }
                        h4 {
                            letter-spacing: 1px;
                            font-size: 16px;
                            margin: 20px 0 10px;
                            line-height: 1.4;
                        }
                        p {
                            line-height: 1.1;
                            margin: 0;
                        }
                        .btn {
                            margin: 6% auto 0;
                            line-height: 1.4;
                            font-size: 10px;
                            padding: 6px 0;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
    #footer .navbar-nav {
        padding: 24px 0 0;
    }
}

