@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/clear-sans/ClearSans-Bold.ttf');
  src: url('../fonts/clear-sans/ClearSans-Light.ttf;');
  src: url('../fonts/clear-sans/ClearSans-Italic.ttf');
  src: url('../fonts/clear-sans/ClearSans-Medium.ttf');
  src: url('../fonts/clear-sans/ClearSans-Regular.ttf');
  src: url('../fonts/clear-sans/ClearSans-MediumItalic.ttf');
  src: url('../fonts/clear-sans/ClearSans-Thin.ttf');
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI/SegoeUI-Bold.eot');
  src: url('../fonts/SegoeUI/SegoeUI-Bold.ttf');
  src: url('../fonts/SegoeUI/SegoeUI-Bold.woff');
  src: url('../fonts/SegoeUI/SegoeUI-BoldItalic.eot');
  src: url('../fonts/SegoeUI/SegoeUI-BoldItalic.ttf');
  src: url('../fonts/SegoeUI/SegoeUI-BoldItalic.woff');
  src: url('../fonts/SegoeUI/SegoeUI-Italic.eot');
}
